.card {
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__footer {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
}

.card__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__like-button {
  border-style: none;
  background-color: transparent;
  cursor: pointer;
}

.card__button-image {
  width: 21px;
  height: 18px;
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card__delete-button:hover {
  opacity: 0.6;
}
