.edit-button {
  width: 24px;
  height: 24px;
  border: solid white 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: "button";
  align-self: center;
  background-color: black;
  cursor: pointer;
}

.edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 980px) {
  .edit-button {
    width: 18px;
    height: 18px;
  }
}
