.header {
  margin: 0;
  display: flex;
  max-width: 880px;
  width: 100%;
  padding: 45px 0 41px 0;
  border-bottom: 1px solid rgba(54, 54, 54, 0.7);
}

.header__image {
  max-width: 173px;
  max-height: 33px;
  align-self: center;
}

@media screen and (max-width: 980px) {
  .header__image {
    margin-left: 27px;
  }
}

@media screen and (max-width: 660px) {
  .header__image {
    width: 126px;
    height: 24px;
  }
}
