.profile {
  max-width: 880px;
  width: 100%;
  display: flex;
  padding: 36px 0;
}

.profile__picture {
  width: 128px;
  height: 128px;
  border-radius: 100%;
  margin-right: 45px;
}

.profile__header {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  grid-gap: 7px 17px;
}

.profile__header_content_name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  white-space: nowrap;
  align-self: center;
  margin: 0;
}

.profile__header_content_proffesion {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

@media screen and (max-width: 980px) {
  .profile__header_content_name {
    font-size: 21px;
    line-height: 24px;
  }
  .profile__header {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 660px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }

  .profile__picture {
    margin-right: 0;
    margin-bottom: 26px;
  }

  .profile__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .profile__header_content_proffesion {
    width: 100%;
    text-align: center;
  }
}
