.profile {
  max-width: 880px;
  width: 100%;
  display: flex;
  padding: 36px 0 47px;
}

.profile__picture {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  margin-right: 45px;
}

.profile__header {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  grid-gap: 7px 17px;
}

.profile__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  white-space: nowrap;
  align-self: center;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 373px;
}

.profile__description {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 415px;
}

@media screen and (max-width: 980px) {
  .profile__title {
    font-size: 22px;
    line-height: 27px;
  }
  .profile__description {
    font-size: 14px;
    line-height: 17px;
  }
  .profile__header {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 660px) {
  .profile {
    flex-direction: column;
    align-items: center;
    padding-bottom: 36px;
  }

  .profile__picture {
    margin-right: 0;
    margin-bottom: 26px;
  }

  .profile__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .profile__title {
    max-width: 196px;
  }

  .profile__description {
    width: 100%;
    max-width: 282px;
    text-align: center;
  }
}
