.profile {
  max-width: 880px;
  display: flex;
  column-gap: 45px;
  padding: 36px 0;
}

.profile__picture {
  width: 128px;
  height: 128px;
  border-radius: 100%;
}

.profile__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
}

.profile__header_content_name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
}

.profile__header_content_proffesion {
  margin-top: 7px;
}

@media screen and (max-width: 980px) {
  .profile {
    max-width: 880px;
    display: flex;
    column-gap: 45px;
    padding: 36px 0;
  }

  .profile__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
  }

  .profile__header_content_name {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
  }

  .profile__header_content_proffesion {
    margin-top: 7px;
  }
}

@media screen and (max-width: 660px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }

  .profile__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 0;
    align-items: center;
  }
}
